.loginSignupMain {
  width: 24rem;
  height: 32rem;
  /* background: red; */
  overflow: hidden;
  background: linear-gradient(135deg, #ffd372, #f9c365);
  border-radius: 10px;
  box-shadow: 0px 10px 30px #0000005c;
  font-family: "Outfit";
  margin: 5rem auto;
}

#loginSignupChk {
  display: none;
}

.loginSignupSignup {
  position: relative;
  width: 100%;
  height: 100%;
}

.loginSignupSignup label {
  color: #000;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.loginSignupInput {
  width: 60%;
  height: 10px;
  background: #fff;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.loginSignupInput:focus {
  border: 2px solid #aaa;
}

.loginSignupButton {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #000;
  background: #f9c365;
  font-size: 1em;
  font-weight: bold;
  margin-top: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid black;
}
.signupbutton {
  background: #ffaf24;
  border-radius: 20px;
  border: 2px solid black;
}

.loginSignupButton:hover {
  background: #ffb638;
}

.loginSignupLogin {
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-10rem);
  transition: 0.8s ease-in-out;
}

.loginSignupLogin label {
  color: #000;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  transform: scale(0.6);
}

#loginSignupChk:checked ~ .loginSignupLogin {
  transform: translateY(-510px);
}

#loginSignupChk:checked ~ .loginSignupLogin label {
  transform: scale(1);
}

#loginSignupChk:checked ~ .loginSignupSignup label {
  transform: scale(0.6);
}
